.cart--footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.checkout{
    position: relative;
    left: -30px;
}


@media only screen and (max-width: 768px) {
    .cart--footer{
        position: static;

    }
    .checkout{
        position: relative;
        left: 1px !important;  
        display: inline;
    }
    .container{
        margin-top: 0px !important;
    }
    .address{
        margin-bottom: 50px;
    }
}