.addressButton {
  background-color: white !important;
  border: 0.05px dashed rgb(194, 188, 188);
  height: 160px !important;
  width: 180px;
  max-width: 200px;
  position: relative;
  top: 20px;
  left: 28px;

}

.addressButton:hover {
  box-shadow: 0px 6px 7px -3px #383838;
  padding: 1px;
  transition: 150ms;
}
.add--btn{
  height: 300px;
  width: 432px;
  background-color: white;
  box-shadow: 0px 1px 10px 1px #cfcfcf;
  transition: 150ms;
}
